# actual bot version
version =

# Telegram BOT API key
bot-key =

# Groq API KEY
groq-key =

# Fusion-Brain KEY & SECRET
fusion-key =
fusion-secret =

# Search and Chat-gpt icons
Search_icon =
Chatgpt_ICON =

# Enable chat-gpt
ChatGPT = False

#absolutly admins. They can backup bd, add/delete new admins, ban user and can editing/removing stickers
ADMINS =

# info for inline button about. write here as a str with \n for a new line
BY =
AUDIO =